HTML {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
APPLET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
ABBR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
ACRONYM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
BIG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
CITE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
DEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
DFN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
FONT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
INS {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
KBD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
Q {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
S {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
SAMP {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
SMALL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
STRIKE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
STRONG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
SUB {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
SUP {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
VAR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TBODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
TFOOT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
THEAD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
A:focus {
	OUTLINE-STYLE: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: '.'
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.hand {
	CURSOR: pointer
}
.hidden {
	OVERFLOW: hidden
}
.f14 {
	FONT-SIZE: 14px
}
HTML {
	OVERFLOW-Y: scroll
}
#Container {
	MARGIN: 0px auto; WIDTH: 980px
}
#header {
	MARGIN: 0px auto; WIDTH: 980px; PADDING-TOP: 0px
}
#content {
	MARGIN: 0px auto; MIN-HEIGHT: 640px; WIDTH: 980px
}
.Findtxt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: right; COLOR: #f49b00; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.searchtxt {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; LINE-HEIGHT: 17px; BORDER-RIGHT-STYLE: none; WIDTH: 78px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 17px; COLOR: #6f6f6e; FONT-SIZE: 13px; BORDER-LEFT-STYLE: none
}
.select_box {
	WIDTH: 120px; BACKGROUND: url(../../images/indeximgs_19.gif); FLOAT: right; HEIGHT: 17px; CURSOR: pointer
}
.select_box .value_now {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; WIDTH: 105px; PADDING-RIGHT: 15px; HEIGHT: 17px; COLOR: #7b7b7b; FONT-SIZE: 13px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.select_box .option_ul {
	Z-INDEX: 999; POSITION: absolute; PADDING-BOTTOM: 2px; WIDTH: 120px; DISPLAY: none; BACKGROUND: #ddd
}
.select_box .option_ul LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; PADDING-LEFT: 5px; WIDTH: 115px; WHITE-SPACE: nowrap; HEIGHT: 22px; COLOR: #7b7b7b; FONT-SIZE: 13px; OVERFLOW: hidden
}
.option_ul LI A {
	WIDTH: 100px; DISPLAY: block; COLOR: #7b7b7b
}
.select_box .option_ul LI.h {
	BACKGROUND: #f49b00; COLOR: #fff !important
}
#city {
	WIDTH: 78px; BACKGROUND: url(../../images/indeximgs_10.gif) no-repeat; FLOAT: right; HEIGHT: 17px
}
#indexbanner {
	MARGIN: 0px auto; WIDTH: 988px
}
.indexbg {
	MARGIN: 0px auto; WIDTH: 986px; BACKGROUND: url(../../images/indexbg_03.jpg); HEIGHT: 348px
}
.indexbg .leftbox1 {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 20px 0px 0px; PADDING-LEFT: 20px; WIDTH: 360px; PADDING-RIGHT: 20px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; HEIGHT: 125px; COLOR: #848484; FONT-SIZE: 13px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 20px
}
.indexbg .leftbox1 A {
	COLOR: #848484
}
.indexbg .leftbox1 .more {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; COLOR: #f49b00; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.indexbg .leftbox1 .Awards {
	FLOAT: left; COLOR: #f49b00; FONT-WEIGHT: bold
}
.indexbg .leftbox2 {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 25px 0px 0px; PADDING-LEFT: 20px; WIDTH: 370px; PADDING-RIGHT: 12px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; HEIGHT: 152px; COLOR: #848484; FONT-SIZE: 13px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 0px
}
.indexbg .leftbox2 .til {
	LINE-HEIGHT: 40px; HEIGHT: 40px; COLOR: #f49b00; FONT-WEIGHT: bold
}
.indexbg .leftbox2 .brands {
	WIDTH: 370px
}
.indexbg .leftbox2 .brands IMG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FLOAT: left; PADDING-TOP: 0px
}
.index_left {
	WIDTH: 420px; FLOAT: left
}
.index_right {
	WIDTH: 556px; FLOAT: right
}
.findmore {
	LINE-HEIGHT: 39px; MARGIN-TOP: 21px; WIDTH: 550px; BACKGROUND: #d9d9d9; HEIGHT: 39px; FONT-SIZE: 13px
}
.findmore .txt {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 39px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; FLOAT: left; LETTER-SPACING: 5px; COLOR: #545454; PADDING-TOP: 0px
}
#citymore {
	MARGIN: 11px 25px 0px 0px; WIDTH: 95px; DISPLAY: inline; BACKGROUND: url(../../images/indeximgs_19.gif); FLOAT: right; HEIGHT: 17px
}
.select_box1 {
	MARGIN: 11px 0px 0px; WIDTH: 120px; DISPLAY: inline; BACKGROUND: url(../../images/indeximgs_19.gif); FLOAT: right; HEIGHT: 17px; CURSOR: pointer
}
.select_box1 .value_now {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; WIDTH: 105px; PADDING-RIGHT: 15px; HEIGHT: 17px; COLOR: #7b7b7b; FONT-SIZE: 13px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.select_box1 .option_ul {
	Z-INDEX: 999; POSITION: absolute; WIDTH: 120px; DISPLAY: none; BACKGROUND: #ddd
}
.select_box1 .option_ul LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; PADDING-LEFT: 5px; WIDTH: 100px; WHITE-SPACE: nowrap; HEIGHT: 18px; COLOR: #7b7b7b; FONT-SIZE: 13px; OVERFLOW: hidden
}
.select_box1 .option_ul LI.h {
	BACKGROUND: #f49b00; COLOR: #fff !important
}
.rbox_fm {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; BORDER-LEFT: #eee 1px solid; MARGIN: 14px 0px 0px; WIDTH: 268px; FLOAT: left; HEIGHT: 268px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.rbox_fm .til {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 192px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/imgtilbg_23.gif) no-repeat left top; HEIGHT: 22px; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.rbox_fm .imgfm {
	POSITION: absolute; WIDTH: 224px; DISPLAY: none; HEIGHT: 213px; TOP: 42px; LEFT: 19px
}
.rbox_fm .imgfm .txt {
	POSITION: absolute; LINE-HEIGHT: 20px; PADDING-LEFT: 8px; WIDTH: 93px; BOTTOM: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/txtbg_03.png); HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 13px; LEFT: 0px
}
#btnfm1 {
	POSITION: absolute; WIDTH: 65px; BOTTOM: 7px; HEIGHT: 17px; RIGHT: 17px
}
#btnfm2 {
	POSITION: absolute; WIDTH: 65px; BOTTOM: 7px; HEIGHT: 17px; RIGHT: 13px
}
#rbox_fm1 {
	MARGIN-RIGHT: 8px
}
#rbox_fm2 .imgfm {
	LEFT: 24px
}
#btnfm1 DIV {
	WIDTH: 16px; FLOAT: left; HEIGHT: 16px; CURSOR: pointer
}
#btnfm2 DIV {
	WIDTH: 16px; FLOAT: left; HEIGHT: 16px; CURSOR: pointer
}
.rbox_fm .btn4_0 {
	BACKGROUND: url(../../images/btn0_03.png); _background: url(../../images/btn0_03.gif)
}
.rbox_fm .btn4_1 {
	BACKGROUND: url(../../images/btn1_03.png); _background: url(../../images/btn1_03.gif)
}
.rbox_fm .btn4_2 {
	BACKGROUND: url(../../images/btn2_03.png); _background: url(../../images/btn2_03.gif)
}
.rbox_fm .btn4_3 {
	BACKGROUND: url(../../images/btn3_03.png); _background: url(../../images/btn3_03.gif)
}
.rbox_fm .btn3_0 {
	WIDTH: 49px !important; BACKGROUND: url(../../images/btn3_0_03.png); _background: url(../../images/btn3_0_03.gif)
}
.rbox_fm .btn3_1 {
	WIDTH: 49px !important; BACKGROUND: url(../../images/btn3_1_03.png); _background: url(../../images/btn3_1_03.gif)
}
.rbox_fm .btn3_2 {
	WIDTH: 49px !important; BACKGROUND: url(../../images/btn3_2_03.png); _background: url(../../images/btn3_2_03.gif)
}
.rbox_fm .btn2_0 {
	WIDTH: 34px !important; BACKGROUND: url(../../images/btn2_0_03.png); _background: url(../../images/btn2_0_03.gif)
}
.rbox_fm .btn2_1 {
	WIDTH: 34px !important; BACKGROUND: url(../../images/btn2_1_03.png); _background: url(../../images/btn2_1_03.gif)
}
#footer {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 40px
}
#footbg {
	PADDING-BOTTOM: 35px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; BORDER-TOP: #f49b00 1px solid; PADDING-TOP: 10px
}
#footbg .txt {
	TEXT-ALIGN: right; LINE-HEIGHT: 17px; WIDTH: 680px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: right; COLOR: #6f6f6e; FONT-SIZE: 10px; -webkit-text-size-adjust: none
}
#footmenu {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; WIDTH: 450px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 17px; COLOR: #6f6f6f; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#footmenu A {
	WHITE-SPACE: nowrap; FLOAT: left; COLOR: #6f6f6e
}
#footmenu SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 0px
}
#gw {
	POSITION: relative; WIDTH: 45px; FLOAT: left
}
#gw_menu {
	POSITION: absolute; MIN-WIDTH: 122px; DISPLAY: none; TOP: -40px; LEFT: 0px
}
#gw_menu A {
	MIN-WIDTH: 82px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; MARGIN: 1px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; BACKGROUND: #e39200; HEIGHT: 16px; COLOR: #fff; FONT-SIZE: 11px; PADDING-TOP: 2px
}
#gw_menu A:hover {
	BACKGROUND: #747474; TEXT-DECORATION: none
}
.con_top_bg {
	BORDER-BOTTOM: #fff 1px solid; WIDTH: 981px; HEIGHT: 1px; MARGIN-LEFT: 0px; --background: url(../../images/Our-Heritage_03.jpg) no-repeat center
}
.left_menu {
	FLOAT: left
}
.left_menu A {
	LINE-HEIGHT: 25px; PADDING-LEFT: 16px; WIDTH: 180px; DISPLAY: block; MARGIN-BOTTOM: 2px; BACKGROUND: #c8c9ca; COLOR: #fff; FONT-SIZE: 13px
}
.left_menu A:hover {
	TEXT-DECORATION: none
}
.left_menu A.j {
	BACKGROUND: url(../../images/cont_pageimg_06.jpg) #c8c9cb no-repeat
}
.left_menu A.current {
	BACKGROUND: #f49b00
}
.left_menu A.jcurrent {
	BACKGROUND: url(../../images/leftmenujtbg_03.gif) #f19d00 no-repeat
}
.left_menu A.s1 {
	PADDING-LEFT: 32px; WIDTH: 164px; BACKGROUND: url(../../images/jianhao_07.gif) no-repeat 15px 10px; COLOR: #6f6f6e
}
.left_menu A.s2 {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 44px; WIDTH: 152px; PADDING-RIGHT: 0px; BACKGROUND: url(../../images/jianhao_07.gif) no-repeat 32px 10px; COLOR: #6f6f6e; PADDING-TOP: 3px
}
.left_menu A.s1:hover {
	TEXT-DECORATION: underline
}
.left_menu A.s2:hover {
	TEXT-DECORATION: underline
}
.left_menu A.c {
	COLOR: #f49b00
}
.contentbg {
	--background: url(../../images/jianhao_10.jpg) repeat-y
}
.rightcontet {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 757px; PADDING-RIGHT: 7px; FLOAT: right; PADDING-TOP: 0px
}
.pagepath {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.pagepath A {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 2px
}
.pagepath SPAN {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 2px
}
.pagepath A.p {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 10px; BACKGROUND: url(../../images/cont_pageimg_10.jpg) no-repeat right 50%; COLOR: #f49b00; PADDING-TOP: 2px
}
H1 {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 32px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; COLOR: #f49b00; FONT-SIZE: 18px; PADDING-TOP: 0px
}
.banner {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; WIDTH: 750px; PADDING-RIGHT: 0px; HEIGHT: 240px; PADDING-TOP: 0px
}
#bannerBtns {
	Z-INDEX: 59; POSITION: absolute; BACKGROUND: #fff; FLOAT: left; TOP: 0px; LEFT: 0px
}
#bannerBtns A {
	WIDTH: 26px; DISPLAY: inline; FLOAT: left; HEIGHT: 240px; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.Keppel_corporation_1 {
	BACKGROUND: url(../../images/Our-Heritagebtngai1_03.gif)
}
.Keppel_Land_1 {
	BACKGROUND: url(../../images/Our-Heritagebtngai_05.gif)
}
.Keppel_corporation {
	BACKGROUND: url(../../images/Our-Heritagebtngai_03.gif)
}
.Keppel_Land {
	BACKGROUND: url(../../images/Our-Heritagebtngai1_05.gif)
}
.Go_Green_With_Keppel_Land_China {
	BACKGROUND: url(../../images/Sustopmentimg_03.gif)
}
.Go_Green_With_Keppel_Land_China_1 {
	BACKGROUND: url(../../images/Sustainable-Developmentbtng_03.jpg)
}
.Singapore_BCA_Green_Mark_1 {
	BACKGROUND: url(../../images/Sustopmentimg_05.gif)
}
.Singapore_BCA_Green_Mark {
	BACKGROUND: url(../../images/SusDevelopmentfbimg_03.gif)
}
.ISO14001EMS {
	BACKGROUND: url(../../images/Sustopmentimg_07.gif)
}
.ISO14001EMS_1 {
	BACKGROUND: url(../../images/SusDevelopmentfbimg_05.gif)
}
.Green_Awards_1 {
	BACKGROUND: url(../../images/AwardsAccoladesbn_03.gif)
}
.Other_Awards {
	BACKGROUND: url(../../images/AwardsAccoladesbn_05.gif)
}
.Green_Awards {
	BACKGROUND: url(../../images/Other-Awardsimgs_03.gif)
}
.Other_Awards_1 {
	BACKGROUND: url(../../images/Other-Awardsimgs_05.gif)
}
.Our_Heritage {
	BACKGROUND: url(../../images/Our-Originimgs_03.gif)
}
.Our_Origin {
	BACKGROUND: url(../../images/Our-Originimgs_05.gif)
}
.Keppel_Land_China {
	BACKGROUND: url(../../images/Our-Originimgs_07.gif)
}
.chgfrm {
	POSITION: absolute; WIDTH: 710px; DISPLAY: none; FLOAT: left; HEIGHT: 240px; TOP: 0px; LEFT: 0px
}
.chgbox {
	POSITION: relative; WIDTH: 710px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgfrm1 {
	POSITION: relative; WIDTH: 627px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgbox1 {
	POSITION: relative; WIDTH: 627px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgfrm2 {
	POSITION: relative; WIDTH: 712px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgbox2 {
	POSITION: relative; WIDTH: 712px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgbox2 .txt {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 702px; BOTTOM: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/bg70black.png); HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 0px; LEFT: 0px
}
.chgfrm3 {
	POSITION: relative; WIDTH: 680px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgbox3 {
	POSITION: relative; WIDTH: 654px; DISPLAY: none; FLOAT: left; HEIGHT: 240px
}
.chgbox3 .txt {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 644px; BOTTOM: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/bg70black.png); COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 0px; LEFT: 0px
}
.chgbox .txt {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 10px; WIDTH: 644px; BOTTOM: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/bg70black.png); COLOR: #fff; FONT-SIZE: 13px; RIGHT: 0px; PADDING-TOP: 0px
}
.chgbox .txt2 {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 644px; BOTTOM: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/bg70black.png); COLOR: #fff; FONT-SIZE: 13px; RIGHT: 0px; PADDING-TOP: 0px
}
.chgbox .txt1 {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 700px; BOTTOM: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/bg70black.png); COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 0px; LEFT: 0px
}
.btnfrms {
	POSITION: absolute; WIDTH: 65px; BOTTOM: -5px; HEIGHT: 17px; LEFT: 656px
}
.btnfrms1 {
	POSITION: absolute; WIDTH: 65px; BOTTOM: -5px; HEIGHT: 17px; LEFT: 670px
}
.btnfrms2 {
	POSITION: absolute; WIDTH: 65px; BOTTOM: -5px; HEIGHT: 17px; LEFT: 684px
}
.chgfrm2 .btnfrms {
	LEFT: 656px
}
.chgfrm1 .btnfrms {
	LEFT: 572px
}
.btnfrms DIV {
	WIDTH: 16px; FLOAT: left; HEIGHT: 16px; CURSOR: pointer
}
.btnfrms1 DIV {
	WIDTH: 16px; FLOAT: left; HEIGHT: 16px; CURSOR: pointer
}
.btnfrms2 DIV {
	WIDTH: 16px; FLOAT: left; HEIGHT: 16px; CURSOR: pointer
}
.city_btnfrms {
	POSITION: absolute; BOTTOM: -5px; HEIGHT: 17px; RIGHT: 0px
}
.city_btnfrms DIV {
	WIDTH: 20px; BACKGROUND: url(/images/city_btn.png) no-repeat; FLOAT: left; HEIGHT: 16px; CURSOR: pointer
}
.city_btnfrms .city_btn_m {
	BACKGROUND: url(/images/city_btn_m.png) no-repeat
}
#btn0 {
	BACKGROUND: url(../../images/btn0_03.png); _background: url(../../images/btn0_03.gif)
}
#btn1 {
	BACKGROUND: url(../../images/btn1_03.png); _background: url(../../images/btn1_03.gif)
}
#btn2 {
	BACKGROUND: url(../../images/btn2_03.png); _background: url(../../images/btn2_03.gif)
}
#btn3 {
	BACKGROUND: url(../../images/btn3_03.png); _background: url(../../images/btn3_03.gif)
}
#btn3_0 {
	BACKGROUND: url(../../images/btn3_0_03.png); _background: url(../../images/btn3_0_03.gif)
}
#btn3_1 {
	BACKGROUND: url(../../images/btn3_1_03.png); _background: url(../../images/btn3_1_03.gif)
}
#btn3_2 {
	BACKGROUND: url(../../images/btn3_2_03.png); _background: url(../../images/btn3_2_03.gif)
}
#btn2_0 {
	BACKGROUND: url(../../images/btn2_0_03.png); _background: url(../../images/btn2_0_03.gif)
}
#btn2_1 {
	BACKGROUND: url(../../images/btn2_1_03.png); _background: url(../../images/btn2_1_03.gif)
}
.con_txt {
	PADDING-BOTTOM: 30px; LINE-HEIGHT: 15.8pt; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: none; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 18px
}
.con_txt H3 {
	LINE-HEIGHT: 15.8pt; COLOR: #000; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.con_txt P {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 15.8pt; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 8px
}
.con_txt .des {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15.8pt; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 8px
}
.con_txt P SPAN {
	DISPLAY: block; COLOR: #000
}
.con_txt UL {
	
}
.con_txt LI {
	LINE-HEIGHT: 15.8pt; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: url(../../images/cont_listpoint.gif) no-repeat 6px 8px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.con_txt A {
	COLOR: #f49b00
}
.con_txt A:hover {
	TEXT-DECORATION: underline
}
.con_txt TD {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: #edeeee; COLOR: #6f6f6f; FONT-SIZE: 13px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid; PADDING-TOP: 0px
}
.con_txt TH {
	BORDER-BOTTOM: #fff 2px solid; TEXT-ALIGN: left; BORDER-LEFT: #fff 2px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: #f49b00; HEIGHT: 26px; COLOR: #fff; FONT-SIZE: 13px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid; PADDING-TOP: 0px
}
.con_txt TD A {
	COLOR: #000
}
.con_txt TD A:hover {
	TEXT-DECORATION: underline
}
.notebox {
	BORDER-BOTTOM: #f3b32a 1px solid; BORDER-LEFT: #f3b32a 1px solid; PADDING-BOTTOM: 4px; MARGIN: 10px 0px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fafafa; BORDER-TOP: #f3b32a 1px solid; BORDER-RIGHT: #f3b32a 1px solid; PADDING-TOP: 2px
}
.notebox DIV {
	LINE-HEIGHT: 15.8pt; PADDING-LEFT: 20px; BACKGROUND: url(../../images/OurHeritagepoint_03.gif) no-repeat 6px 8px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.brandlist {
	WIDTH: 200px; FLOAT: left
}
.brandlist DIV {
	LINE-HEIGHT: 15.8pt; PADDING-RIGHT: 10px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.lastone {
	WIDTH: 134px
}
.AwardsList {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/Awardslistline.gif) repeat-x 50% bottom; PADDING-TOP: 16px
}
.AwardsList A {
	COLOR: #6f6f6e
}
.AwardsList .listpic {
	WIDTH: 225px; FLOAT: left
}
.AwardsList .pictil {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 4px
}
.AwardsList .listcon {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15.8pt; PADDING-LEFT: 40px; WIDTH: 420px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.AwardsList .listtil {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.AwardsList .orange_style {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #f49b01; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
.spantil {
	FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; COLOR: #000; FONT-SIZE: 13px
}
.aaalist {
	LINE-HEIGHT: 26px; PADDING-LEFT: 20px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: url(../../images/ProAwardsimgs_13.gif) no-repeat 4px center; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.firstAddress {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 15px; WIDTH: 690px; PADDING-RIGHT: 15px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: #f2f2f2; MARGIN-LEFT: 8px; FONT-SIZE: 13px; PADDING-TOP: 12px
}
.firstAddress STRONG {
	LINE-HEIGHT: 18px; COLOR: #000
}
.firstAddress P {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e
}
.Addressbox {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 8px; WIDTH: 320px; PADDING-RIGHT: 50px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 130px; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.Addressbox STRONG {
	LINE-HEIGHT: 18px; COLOR: #000; FONT-WEIGHT: bold
}
.Addressbox P {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e
}
.formbox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 270px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: left; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.formbox .formlist {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; WIDTH: 270px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 8px
}
.formbox SPAN {
	FLOAT: left
}
.formbox .txtinp {
	WIDTH: 150px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: right; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.formbox .txtinp1 {
	WIDTH: 100px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: right; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.formbox .area {
	WIDTH: 260px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 65px; COLOR: #6f6f6e; FONT-SIZE: 13px; OVERFLOW: auto
}
.formbox1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 600px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: left; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.formbox1 .formlist {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 8px
}
.formbox1 .txtyzm {
	WIDTH: 105px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 30px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.formbox1 .maimg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.subm {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 72px; BORDER-TOP-STYLE: none; BACKGROUND: url(../../images/formimgs_07.gif) no-repeat; FLOAT: left; HEIGHT: 21px; BORDER-LEFT-STYLE: none; CURSOR: pointer; MARGIN-RIGHT: 6px
}
.reset {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 72px; BORDER-TOP-STYLE: none; BACKGROUND: url(../../images/formimgs_09.gif); FLOAT: left; HEIGHT: 21px; BORDER-LEFT-STYLE: none; CURSOR: pointer
}
.err404 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 300px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; PADDING-TOP: 40px
}
.err404 .notfound {
	LINE-HEIGHT: 80px; COLOR: #f49b00; FONT-SIZE: 24px
}
.err404 .Please {
	COLOR: #6f6f6e; FONT-SIZE: 16px
}
.err404 .Please A {
	COLOR: #f49b00; TEXT-DECORATION: underline
}
#floatbox {
	Z-INDEX: 9999; BORDER-BOTTOM: #f49b00 1px solid; POSITION: absolute; BORDER-LEFT: #f49b00 1px solid; WIDTH: 665px; DISPLAY: none; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #6f6f6e; FONT-SIZE: 13px; BORDER-TOP: #f49b00 1px solid; TOP: 0px; BORDER-RIGHT: #f49b00 1px solid; LEFT: 0px
}
#floatbox .cont {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #6f6f6e; PADDING-TOP: 0px
}
#floatbox .cont STRONG {
	COLOR: #f49b00; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
#floatbox .cont SPAN {
	COLOR: #000
}
#floatbox LI {
	PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: url(../../images/cont_listpoint.gif) no-repeat 6px 8px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
#addclose {
	TEXT-ALIGN: center; LINE-HEIGHT: 16px; WIDTH: 22px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: right; HEIGHT: 21px; COLOR: #f3b32a; FONT-SIZE: 16px; CURSOR: pointer; FONT-WEIGHT: bold
}
.floatbox {
	Z-INDEX: 9999; BORDER-BOTTOM: #f49b00 1px solid; POSITION: absolute; BORDER-LEFT: #f49b00 1px solid; WIDTH: 665px; DISPLAY: none; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #6f6f6e; FONT-SIZE: 13px; BORDER-TOP: #f49b00 1px solid; TOP: 0px; BORDER-RIGHT: #f49b00 1px solid; LEFT: 0px
}
.floatbox .cont {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #6f6f6e; PADDING-TOP: 0px
}
.floatbox .cont STRONG {
	COLOR: #f49b00; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.floatbox .cont SPAN {
	COLOR: #000; FONT-WEIGHT: bold
}
.floatbox LI {
	PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: url(../../images/cont_listpoint.gif) no-repeat 6px 8px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.addclose {
	TEXT-ALIGN: center; LINE-HEIGHT: 16px; WIDTH: 22px; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; FLOAT: right; HEIGHT: 21px; COLOR: #f3b32a; FONT-SIZE: 16px; CURSOR: pointer; FONT-WEIGHT: bold
}
#floatboxbg {
	Z-INDEX: 8888; POSITION: absolute; WIDTH: 100%; DISPLAY: none; BACKGROUND: url(../../images/bg70black.png); TOP: 0px; LEFT: 0px
}
.cont_imgfrm {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.suojin {
	PADDING-LEFT: 18px
}
.thanksbox {
	Z-INDEX: 99999; BORDER-BOTTOM: #f49b00 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #f49b00 1px solid; LINE-HEIGHT: 130px; WIDTH: 350px; DISPLAY: none; BACKGROUND: #fff; HEIGHT: 130px; BORDER-TOP: #f49b00 1px solid; BORDER-RIGHT: #f49b00 1px solid
}
.con_txt_p {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 15.8pt; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #6f6f6e; FONT-SIZE: 12px; PADDING-TOP: 18px
}
.left_menu .Media_s1 {
	LINE-HEIGHT: 18px; MARGIN: 3px 0px 6px; PADDING-LEFT: 32px; WIDTH: 164px; BACKGROUND: url(../../images/jianhao_07.gif) no-repeat 15px 7px; COLOR: #6f6f6e
}
.left_menu A.Media_s1:hover {
	TEXT-DECORATION: underline
}
.Press_Release LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 10px
}
.Press_Release LI H3 {
	FONT-FAMILY: Arial,"黑体"; FONT-WEIGHT: normal
}
.Press_Release LI A {
	FONT-FAMILY: Arial, "黑体"; TEXT-DECORATION: underline
}
.popupbox_n P {
	FONT-FAMILY: "黑体",Arial
}
.Media_h1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; FONT-FAMILY: "黑体",Arial; PADDING-TOP: 0px
}
.year_search {
	PADDING-BOTTOM: 10px
}
.select_box2 {
	WIDTH: 78px; BACKGROUND: url(/images/media.jpg) no-repeat; FLOAT: left; HEIGHT: 17px; CURSOR: pointer
}
.select_box2 .value_now {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; WIDTH: 61px; PADDING-RIGHT: 17px; HEIGHT: 17px; COLOR: #7b7b7b; FONT-SIZE: 13px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.select_box2 .option_ul {
	Z-INDEX: 999; POSITION: absolute; WIDTH: 61px; DISPLAY: none; BACKGROUND: #ddd
}
.select_box2 .option_ul LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 18px; PADDING-LEFT: 5px; WIDTH: 56px; WHITE-SPACE: nowrap; HEIGHT: 18px; COLOR: #7b7b7b; FONT-SIZE: 13px; OVERFLOW: hidden
}
.select_box2 .option_ul LI.h {
	BACKGROUND: #f49b00; COLOR: #fff !important
}
.year_txt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 13px; FLOAT: left; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.popupbox {
	Z-INDEX: 9999; BORDER-BOTTOM: #f49b00 1px solid; POSITION: absolute; BORDER-LEFT: #f49b00 1px solid; PADDING-BOTTOM: 60px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; DISPLAY: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #6f6f6e; FONT-SIZE: 13px; BORDER-TOP: #f49b00 1px solid; TOP: 0px; BORDER-RIGHT: #f49b00 1px solid; PADDING-TOP: 0px; LEFT: 0px
}
.popupbox_t {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.popupbox_time {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-FAMILY: "黑体",Arial, Helvetica, sans-serif; COLOR: #000; OVERFLOW: hidden; PADDING-TOP: 20px
}
.popupbox .addclose {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 16px; WIDTH: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 21px; COLOR: #f3b32a; FONT-SIZE: 16px; TOP: 3px; CURSOR: pointer; RIGHT: 3px; FONT-WEIGHT: bold
}
.Annual_report LI {
	PADDING-BOTTOM: 14px; PADDING-LEFT: 0px; WIDTH: 374px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-TOP: 14px
}
.Annual_report_pic {
	WIDTH: 170px; BACKGROUND: url(/images/img_bg.png) no-repeat left top; FLOAT: left; HEIGHT: 213px; MARGIN-RIGHT: 14px
}
.Annual_report_pic IMG {
	MARGIN: 2px 0px 0px 3px
}
.Annual_report_load {
	FLOAT: left
}
.Annual_report_D_load {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 35px
}
.Annual_report_D_load A {
	PADDING-RIGHT: 14px; BACKGROUND: url(/images/Annual_report_D_load.jpg) no-repeat right center; TEXT-DECORATION: underline
}
.Annual_report_time {
	COLOR: #6f6f6e
}
.Keppelite_pic {
	WIDTH: 170px; BACKGROUND: url(/images/img_bg.png) no-repeat left top; FLOAT: left; HEIGHT: 213px; MARGIN-RIGHT: 14px
}
.Keppelite_pic IMG {
	MARGIN: 2px 0px 0px 3px
}
.Keppelite_year {
	WIDTH: 550px; FLOAT: left
}
.Keppelite_year_st A {
	TEXT-DECORATION: underline
}
.Keppelite_year_yr {
	PADDING-TOP: 170px
}
.Keppelite_year_yr SPAN {
	COLOR: #6f6f6e
}
.Keppelite_year_yr A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.Keppelite_year_yr A.color_6f {
	COLOR: #6f6f6e
}
.specific_year {
	WIDTH: 187px; MARGIN-BOTTOM: 30px; FLOAT: left; FONT-SIZE: 13px
}
.specific_year_pic {
	WIDTH: 87px; BACKGROUND: url(/images/specific_year_pic_bg.png) no-repeat left top; FLOAT: left; HEIGHT: 108px; MARGIN-RIGHT: 5px
}
.specific_year_pic IMG {
	MARGIN: 2px 0px 0px 3px
}
.specific_year_mon A {
	TEXT-DECORATION: underline
}
.specific_year_an {
	PADDING-BOTTOM: 25px
}
.specific_year_an A {
	PADDING-RIGHT: 12px; TEXT-DECORATION: underline
}
.specific_year_an A.color_6f {
	COLOR: #6f6f6e
}
.jidu {
	MARGIN-TOP: 190px; DISPLAY: block; TEXT-DECORATION: underline
}
#nav .navmenu A.Media_s1 {
	LINE-HEIGHT: 18px; MARGIN: 2px 0px 5px; PADDING-LEFT: 20px; WIDTH: 164px; BACKGROUND: url(/images/menulistsj.gif) no-repeat 8px 7px; HEIGHT: 36px; COLOR: #6f6f6e
}
#nav .navmenu A.Media_s1:hover {
	COLOR: #f49b00; TEXT-DECORATION: underline
}
.page_ix {
	FLOAT: right
}
.page_ix A {
	WIDTH: 20px; DISPLAY: block; BACKGROUND: url(/images/page_ix_link.png) no-repeat; FLOAT: left; HEIGHT: 18px; _display: inline
}
.page_ix .page_ix_hover {
	BACKGROUND: url(/images/page_ix_hover.png) no-repeat
}
.width_471 {
	MARGIN: 0px auto; WIDTH: 471px
}
.img_input {
	WIDTH: 15px; DISPLAY: inline
}
.m_video_list {
	MARGIN: 0px 145px 18px 0px; WIDTH: 222px; FLOAT: left; OVERFLOW: hidden
}
.m_v_l_title {
	LINE-HEIGHT: 18px
}
.m_v_l_more {
	LINE-HEIGHT: 18px
}
.m_v_l_more {
	DISPLAY: block
}
.m_v_l_title {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #6f6f6e; PADDING-TOP: 10px
}
.pic_qiehuan {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 686px; DISPLAY: none; HEIGHT: 561px
}
.pic_qiehuan_close {
	DISPLAY: block; FLOAT: right; CLEAR: both; CURSOR: pointer
}
.pic_qiehuan_box {
	POSITION: relative; WIDTH: 684px; HEIGHT: 456px; OVERFLOW: hidden
}
.pic_qiehuan_pre {
	Z-INDEX: 101; POSITION: absolute; WIDTH: 28px; DISPLAY: block; BACKGROUND: url(/images/left_pic_an.png) no-repeat; HEIGHT: 58px; TOP: 199px; CURSOR: pointer; LEFT: 0px
}
.pic_qiehuan_next {
	Z-INDEX: 101; POSITION: absolute; WIDTH: 28px; DISPLAY: block; BACKGROUND: url(/images/right_pic_an.png) no-repeat; HEIGHT: 58px; TOP: 199px; CURSOR: pointer; RIGHT: 0px
}
.pic_qiehuan_jj {
	Z-INDEX: 99; POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 19px; WIDTH: 665px; PADDING-RIGHT: 0px; BACKGROUND: #f49b00; HEIGHT: 81px; COLOR: #333; FONT-SIZE: 13px; OVERFLOW: hidden; PADDING-TOP: 3px
}
.Photo_notes {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 19px; COLOR: #333; PADDING-TOP: 4px
}
.Photo_notes P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; PADDING-TOP: 0px
}
.pic_qiehuan_list {
	Z-INDEX: 99; POSITION: relative; WIDTH: 684px
}
.b_photo {
	DISPLAY: block; CLEAR: both
}
.Current_box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; PADDING-TOP: 18px
}
.Current_list {
	MARGIN: 0px 150px 18px 0px; WIDTH: 224px; FLOAT: left; HEIGHT: 375px
}
.Current_img {
	POSITION: relative
}
.Current_img IMG {
	BORDER-BOTTOM: #d2d2d2 1px solid; BORDER-LEFT: #d2d2d2 1px solid; BORDER-TOP: #d2d2d2 1px solid; BORDER-RIGHT: #d2d2d2 1px solid
}
.Current_img_span {
	POSITION: absolute; LINE-HEIGHT: 20px; WIDTH: 54px; BACKGROUND: url(/images/ds.png) no-repeat; HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 14px; TOP: 0px; LEFT: 0px
}
.Current_j_1 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Current_j_2 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Current_j_3 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Current_j_4 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Current_j_1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 42px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.Current_j_2 {
	HEIGHT: 36px
}
.Current_j_4 A {
	COLOR: #f49b00
}
.Completed_list {
	BORDER-BOTTOM: #f49b00 1px dashed; PADDING-BOTTOM: 10px; WIDTH: 738px; DISPLAY: block; MARGIN-BOTTOM: 10px; CLEAR: both
}
.Completed_list_img {
	POSITION: relative; WIDTH: 222px; DISPLAY: block; FLOAT: left; HEIGHT: 222px; MARGIN-RIGHT: 30px
}
.Completed_list_right {
	WIDTH: 484px; FLOAT: left
}
.Completed_list_right_1 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Completed_list_right_2 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Completed_list_right_3 {
	LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.Completed_list_right_1 {
	PADDING-BOTTOM: 20px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Completed_list_right_3 {
	PADDING-TOP: 20px
}
.Completed_list_right_3 A {
	COLOR: #f49b00
}
.work_list_right {
	WIDTH: 484px; FLOAT: left
}
.work_list {
	BORDER-BOTTOM: #f49b00 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 783px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.golf_list_2 {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 18px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.city_nry_pic {
	POSITION: relative; WIDTH: 710px; MARGIN-BOTTOM: 27px; HEIGHT: 240px
}
.city_nry_pic_txt {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 10px; WIDTH: 700px; BOTTOM: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../../images/bg70black.png); HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 13px; PADDING-TOP: 0px; LEFT: 0px
}
.cp_nry_logo {
	WIDTH: 243px; FLOAT: left
}
.cp_nry_logo_d_i {
	Z-INDEX: 0; BORDER-BOTTOM: #ebebea 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #ebebea 1px solid; WIDTH: 241px; DISPLAY: block; HEIGHT: 191px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-TOP: #ebebea 1px solid; BORDER-RIGHT: #ebebea 1px solid
}
.cp_nry_logo_d_i P {
	Z-INDEX: 1
}
.cp_nry_logo_d_i P IMG {
	Z-INDEX: 1
}
.cp_nry_logo_d {
	LINE-HEIGHT: 18px; MARGIN-TOP: 27px; WIDTH: 241px; COLOR: #6f6f6e; FONT-SIZE: 13px
}
.cp_nry {
	PADDING-TOP: 20px
}
.cp_nry_pic_tab {
	MARGIN-BOTTOM: 30px; FLOAT: left; MARGIN-LEFT: 29px; CLEAR: right
}
.cp_nry_pic_tab_show {
	WIDTH: 566px; FLOAT: left; HEIGHT: 276px; OVERFLOW: hidden
}
.cp_nry_pic_tab_btn {
	WIDTH: 141px; FLOAT: left; MARGIN-LEFT: 1px
}
.tab_btn_box {
	POSITION: relative; MARGIN-TOP: 1px; HEIGHT: 245px; OVERFLOW: hidden
}
.tab_btn_box_ul {
	POSITION: absolute
}
.tab_btn_box_ul LI {
	POSITION: relative; MARGIN-TOP: 1px; WIDTH: 141px; DISPLAY: block; BACKGROUND: #000; HEIGHT: 80px
}
.tab_btn_box_ul LI IMG {
	opacity: 0.6
}
.tab_btn_top {
	CURSOR: pointer
}
.tab_btn_bot {
	CURSOR: pointer
}
.cp_nry_bot {
	LINE-HEIGHT: 15.8pt; MARGIN: 20px 0px 0px; WIDTH: 980px; DISPLAY: block; FLOAT: left; COLOR: #6f6f6e; CLEAR: both; FONT-SIZE: 13px; BORDER-TOP: #b2b2b2 1px solid; PADDING-TOP: 8px
}
.cp_nry_bot P {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 15.8pt; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #6f6f6e; FONT-SIZE: 13px; PADDING-TOP: 8px
}
.cp_nry_bot_title {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 24px; COLOR: #f7af00; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 14px
}
.city_box_t {
	COLOR: #000; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.city_box {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.city_our_list {
	BORDER-BOTTOM: #f49b00 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 738px; PADDING-RIGHT: 0px; DISPLAY: block; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 10px
}
.city_index_pic {
	DISPLAY: block; CLEAR: both; PADDING-TOP: 22px
}
.city_index_pic A {
	TEXT-ALIGN: center; LINE-HEIGHT: 93px; MARGIN: 0px 56px; WIDTH: 134px; DISPLAY: block; BACKGROUND: url(/images/city_index.jpg) no-repeat; FLOAT: left; HEIGHT: 93px; COLOR: #4e4e4e; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.city_index_pic A:hover {
	BACKGROUND: url(/images/city_index_m.jpg) no-repeat; COLOR: #4e4e4e; TEXT-DECORATION: none
}
.video_text {
	DISPLAY: none
}
.kongge {
	PADDING-RIGHT: 10px
}
.bull_18 {
	PADDING-RIGHT: 15px
}
.nry_jiedai {
	DISPLAY: block; CLEAR: both; OVERFLOW: hidden
}
.nry_jiedai_s {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden
}
.nry_jiedai_t {
	PADDING-BOTTOM: 10px; WIDTH: 170px; FLOAT: left
}
.nry_ty A {
	COLOR: #f7af00
}
.con_txt P.fb {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.con_txt .p_left_40 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; PADDING-TOP: 28px
}
.p_t_10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 60px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.pb_table TABLE {
	BORDER-LEFT: #b1b1b1 1px solid; MARGIN: 0px auto; BORDER-TOP: #b1b1b1 1px solid
}
.pb_table_pic {
	MARGIN-BOTTOM: 10px
}
.a_bg {
	BACKGROUND: url(/cn/images/A_BG.jpg) no-repeat 40px 3px
}
.pb_table TD {
	BORDER-BOTTOM: #b1b1b1 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT-STYLE: none; BORDER-RIGHT: #b1b1b1 1px solid; PADDING-TOP: 0px
}
.a_bg_div {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 60px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.tishi {
	PADDING-BOTTOM: 3px; MARGIN-TOP: 20px; PADDING-LEFT: 40px; WIDTH: 95%; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #eaeaec; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 3px
}
.tishi_left {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(/cn/images/tishi_left_bg.jpg) no-repeat 0px 15px; FLOAT: left; FONT-SIZE: 16px; PADDING-TOP: 10px
}
.tishi_right {
	FLOAT: left
}
#top {
	POSITION: relative; MARGIN: 4px 0px 20px; WIDTH: 980px; FONT-FAMILY: Arial, "黑体"; BACKGROUND: #fff; FLOAT: left; HEIGHT: 118px
}
#logo {
	MARGIN: 5px 0px; WIDTH: 206px; FLOAT: left; HEIGHT: 50px
}
#q_menu {
	MARGIN: 4px 0px 0px; WIDTH: 774px; FONT-FAMILY: Arial, "黑体"; FLOAT: left; HEIGHT: 16px
}
#q_menu UL {
	LINE-HEIGHT: 16px; TEXT-TRANSFORM: uppercase; FLOAT: right; HEIGHT: 16px; FONT-SIZE: 11px
}
#q_menu UL LI {
	DISPLAY: inline; FLOAT: left
}
#q_menu UL LI A {
	FONT-FAMILY: Arial, "黑体"; COLOR: #666
}
#q_menu UL LI A:hover {
	TEXT-DECORATION: underline
}
.q_menu_1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(http://www.keppellandchina.com/images/q_menu.gif) no-repeat left 50%; PADDING-TOP: 0px
}
.q_menu_2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 0px
}
.q_menu_3 {
	MARGIN: 0px 0px 0px 5px
}
#search {
	MARGIN: 8px 0px 0px 574px; WIDTH: 200px; DISPLAY: inline; FLOAT: left; HEIGHT: 20px
}
.searchinput {
	BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 3px; WIDTH: 168px; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #636365; MARGIN-LEFT: 4px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; MARGIN-RIGHT: 3px
}
.tab_search {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; HEIGHT: 25px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.searchaction {
	WIDTH: 21px; FLOAT: left; HEIGHT: 17px
}
#navbar {
	MARGIN: 28px 0px 0px; WIDTH: 980px; FLOAT: left; HEIGHT: 29px
}
#nav {
	Z-INDEX: 500; POSITION: relative; MARGIN: 0px; WIDTH: 980px; DISPLAY: block; FLOAT: left
}
#nav .jquery_out {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; DISPLAY: block; FLOAT: left; COLOR: #007800
}
#nav .jquery_inner {
	MARGIN-LEFT: 16px
}
#nav .jquery {
	
}
#nav .mainlevel {
	TEXT-TRANSFORM: uppercase; FLOAT: left
}
#nav .mainlevel A {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 19px; MARGIN: 0px 30px 0px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(http://www.keppellandchina.com/images/nav_menu.gif) no-repeat left 50%; COLOR: #666; FONT-SIZE: 14px; TEXT-DECORATION: none; PADDING-TOP: 5px
}
#nav .mainlevel A:hover {
	COLOR: #666; TEXT-DECORATION: none
}
#nav .mainlevel UL {
	BORDER-BOTTOM: #d9d9d9 1px solid; POSITION: absolute; BORDER-LEFT: #d9d9d9 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 220px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #fff; FLOAT: left; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid; PADDING-TOP: 3px
}
#nav .mainlevel LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 2px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 0px
}
#nav .mainlevel LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; TEXT-TRANSFORM: none; PADDING-LEFT: 10px; WIDTH: 200px; PADDING-RIGHT: 0px; BACKGROUND: #f49b00; HEIGHT: 24px; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#nav .mainlevel LI A:hover {
	BACKGROUND: #666; COLOR: #fff
}
#nav .mainlevel LI DL {
	MARGIN: 0px; WIDTH: 200px; BACKGROUND: #fff
}
#nav .mainlevel LI DL DT {
	WIDTH: 190px; FLOAT: left; HEIGHT: 30px
}
#nav .mainlevel LI DL DT A {
	LINE-HEIGHT: 30px; MARGIN: 0px 0px 0px 10px; WIDTH: 180px; BACKGROUND: url(http://www.keppellandchina.com/images/q_menu.gif) no-repeat left 50%; HEIGHT: 30px; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
#nav .mainlevel LI DL DT A:hover {
	BACKGROUND: url(http://www.keppellandchina.com/images/q_menu.gif) no-repeat left 50%; COLOR: #f49b00; TEXT-DECORATION: underline
}
#sub_02 {
	MARGIN-LEFT: 14px
}
#sub_03 {
	MARGIN-LEFT: 14px
}
#sub_04 {
	MARGIN-LEFT: 14px
}
#sub_05 {
	MARGIN-LEFT: 14px
}
#sub_06 {
	MARGIN-LEFT: 14px
}
